@using Microsoft.AspNetCore.Identity
@using fluffyjohn.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc;
@using fluffyjohn;
@using System.Net;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "View Files";

    string? reqDirPath = (string)Url!.RouteUrl(ViewContext.RouteData.Values)!.Substring("viewfiles".Length + 1).Replace("//", "/");
    reqDirPath = WebUtility.UrlDecode(reqDirPath);

    foreach (var character in reqDirPath) {
        reqDirPath = reqDirPath.Replace("//", "/");
    }

    if (reqDirPath.EndsWith("/") != true)
        reqDirPath += "/"; // Quick hack to remove the "/" prefixed in files and directory names

    string? encryptedUsername = SecurityUtils.MD5Hash(User.Identity!.Name!);

    string? rootUserDir = $"{Directory.GetCurrentDirectory()}/UserFileStorer/{encryptedUsername}/";
    string? currentTargetDir = $"{rootUserDir}/{reqDirPath}";

    string[] fileEntries = Directory.GetFiles(currentTargetDir);
    string[] dirEntries = Directory.GetDirectories(currentTargetDir);

    int fileEntryCount = fileEntries.Length;
    int dirEntryCount = dirEntries.Length;

    PathFormatter.FormatEntries(ref fileEntries, reqDirPath, rootUserDir);
    PathFormatter.FormatEntries(ref dirEntries, reqDirPath, rootUserDir);
}   

<head>
    <link rel="stylesheet" href="~/css/storage.css" />
    <link rel="stylesheet" href="~/css/toast.css" />
    <link rel="stylesheet" href="~/css/icons.css" />
</head>

<div id="toast-container"></div>

<div id="dir-selector">
    <a class="dir-select" href="/viewfiles/">Home/</a>

</div> <br />

@{
    for (int i = 0; i < fileEntryCount; i++)
    {
        <div>
            <div id="file-@i" class="item-entry-wrapper" onclick="javascript:document.location.href='/viewcontent\@reqDirPath@fileEntries[i]'"><a href="/viewcontent\@reqDirPath@fileEntries[i]" target="_blank">@fileEntries[i]</a></div>

            <a onclick="renameItem('@reqDirPath@fileEntries[i]')" class="item-action-btn" > <img class="icon" src="~/svg/edit.svg" /> </a>
            <a onclick="confirmDelete('@fileEntries[i]', '@reqDirPath@fileEntries[i]', true)" class="item-action-btn" href="#"> <img class="icon del-icon" src="~/svg/delete.svg" /> </a>
            <a class="item-action-btn" href="/downloadfile\@reqDirPath@fileEntries[i]"> <img class="icon" src="~/svg/download.svg" /> </a>
            <a class="item-action-btn" href="/viewcontent\@reqDirPath@fileEntries[i]"> <img class="icon" src="~/svg/view.svg" /> </a>
            <a onclick="copy('@reqDirPath@fileEntries[i]');" class="item-action-btn"> <img class="icon" src="~/svg/copy.svg" /></a>
            <a onclick="javascript:handleSelect('@reqDirPath@fileEntries[i]', 'file-@i')" class="item-action-btn">S</a>

            <br />
        </div>
    }
}

@{
    for (int i = 0; i <  dirEntryCount; i++)
    {
        if (reqDirPath == "/")
            if (dirEntries[i] == ".fluffyjohn")
                continue;

        string targetHref = $"/viewfiles/{reqDirPath}/{dirEntries[i]}/";

        <div>
        <div id="dir-@i" class="item-entry-wrapper itype-dir" onclick="javascript:window.location.href = '@Utility.ConfigureDirHref(targetHref)'" >
            <a href=@Utility.ConfigureDirHref(targetHref)>@dirEntries[i]/</a>
        </div>

        <a onclick="renameItem('@reqDirPath/@dirEntries[i]', false)" class="item-action-btn"> <img class="icon" src="~/svg/edit.svg" /> </a>
        <a onclick="confirmDelete('@dirEntries[i]', '@reqDirPath@dirEntries[i]', false)" href="#" class="item-action-btn"> <img class="icon del-icon" src="~/svg/delete.svg" /> </a>
        <a onclick="copy('@reqDirPath/@dirEntries[i]', false);" class="item-action-btn"> <img class="icon" src="~/svg/copy.svg" /></a>

            <a onclick="javascript:handleSelect('@reqDirPath@dirEntries[i]/', 'dir-@i')" class="item-action-btn">S</a>

        </div>
    }
}

<br />

<form action="/files/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" multiple />
    <input type="submit" />
</form>
<br />
<form action="/files/newdir" method="post">
    <label>Directory name: </label>  <br />
    <input type="text" name="dirname" />
    <input type="submit" value="Create Directory" />
</form>

<button onclick="paste()">Paste</button>

<script src="~/js/toast.js"></script>
<script src="~/js/dirselect.js"></script>
<script src="~/js/storage.js"></script>
<script src="~/js/delete.js"></script>
<script src="~/js/rename.js"></script>
<script src="~/js/copy.js"></script>
<script src="~/js/paste.js"></script>
<script src="~/js/select.js"></script>