@using Microsoft.AspNetCore.Identity
@using fluffyjohn.Areas.Identity.Data
@using Microsoft.AspNetCore.Mvc;
@using fluffyjohn;
@using System.Net;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "View Files";

    string? reqDirPath = (string)Url!.RouteUrl(ViewContext.RouteData.Values)!.Substring("viewfiles".Length + 1).Replace("//", "/");
    reqDirPath = WebUtility.UrlDecode(reqDirPath);

    string encodedReqDirPath = WebUtility.UrlEncode(reqDirPath);

    foreach (var character in reqDirPath) {
        reqDirPath = reqDirPath.Replace("//", "/");
    }

    if (reqDirPath.EndsWith("/") != true)
        reqDirPath += "/"; // Quick hack to remove the "/" prefixed in files and directory names

    string? hashedUsername = SecurityUtils.MD5Hash(User.Identity!.Name!);

    string? rootUserDir = $"{Directory.GetCurrentDirectory()}/UserFileStorer/{hashedUsername}/";
    string? currentTargetDir = $"{rootUserDir}/{reqDirPath}";
    bool routeExists = Directory.Exists(currentTargetDir);

    string[] fileEntries = { };
    string[] dirEntries = { };

    if (routeExists)
    {
        fileEntries = Directory.GetFiles(currentTargetDir);
        dirEntries = Directory.GetDirectories(currentTargetDir);
        PathFormatter.FormatEntries(ref fileEntries, reqDirPath, rootUserDir);
        PathFormatter.FormatEntries(ref dirEntries, reqDirPath, rootUserDir);
    }

    int fileEntryCount = fileEntries.Length;
    int dirEntryCount = dirEntries.Length;
}   

<head>
    <link rel="stylesheet" href="~/css/storage.css" />
    <link rel="stylesheet" href="~/css/toast.css" />
    <link rel="stylesheet" href="~/css/icons.css" />
    <link rel="stylesheet" href="~/css/upload.css" />
</head>

<div id="toast-container"></div>


@{
    if (!routeExists)
    {
        <h1 class="text-danger">Route does not exist</h1>
        <div>You've entered a route which does not exist, or a route which you don't have access to. Double check the route, then try agian.</div>
        return;
    }

    <div class="h1" style="display: inline-block;">New</div>
    <a style="cursor: pointer; text-decoration: none; padding: 0.2em 0.5em; position: relative; bottom: 0.25em; left: 0.7em;" class="multi-file-actions" data-bs-toggle="collapse" data-bs-target="#upload-section" aria-expanded="false" aria-controls="upload-section" onclick="toggleDropdownShowProperty()">▼</a>
    <section style="width: 45%;" id="upload-section" class="collapse">
        <form action="/files/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="uploads" multiple />
            <input type="submit" value="Upload File(s)">
        </form>
        <div style="font-weight: 700; color: rgba(255, 255, 255, 0.3); margin: 0 50%; font-size: 0.7em;">OR</div>
        <form action="/files/newdir" method="post">
            <input style="padding-left: 0.5em;" placeholder="Directory name" type="text" name="dirname" />
            <input type="submit" value="Create" />
        </form>
    </section>
    
    <br />
    <button class="multi-file-actions" onclick="paste()">Paste</button>
    <button class="multi-file-actions" onclick="selectCopy()">Copy Selected Item(s)</button>
    <button class="multi-file-actions" onclick="deleteCopy()">Delete Selected Item(s)</button>

    <div id="dir-selector">
        <a class="dir-select" href="/viewfiles/">Home/</a>

    </div> <br />

    

    if (fileEntryCount > 0)
    {
        <h1>Files (@fileEntryCount)</h1>

        for (int i = 0; i < fileEntryCount; i++)
        {
            // WebUtility
            string displayFileName = fileEntries[i];
            fileEntries[i] = WebUtility.UrlEncode(fileEntries[i]);

            string viewContentPath = $"viewcontent{reqDirPath}{fileEntries[i]}";
            string downloadFilePath = $"downloadfile{reqDirPath}{fileEntries[i]}";
            viewContentPath.Replace("//", "/");
            downloadFilePath.Replace("//", "/");

            bool previousFileVersionExists = System.IO.File.Exists($"{rootUserDir}/.fluffyjohn/vc/{reqDirPath}/{fileEntries[i]}");

            <div>
                <div id="item-@i" class="item-entry-wrapper" onclick="javascript:document.getElementById('link-@i').click()"><a id="link-@i" href="/viewcontent\@reqDirPath@fileEntries[i]" target="_blank" onclick="event.stopPropagation();">@displayFileName</a></div>

                <a href="javascript:void(0);" onclick="renameItem('@encodedReqDirPath@fileEntries[i]')" class="item-action-btn"> <img class="icon" src="~/svg/edit.svg" /> </a>
                <a href="javascript:void(0);" onclick="confirmDelete('@fileEntries[i]', '@encodedReqDirPath@fileEntries[i]', true)" class="item-action-btn"> <img class="icon del-icon" src="~/svg/delete.svg" /> </a>
                <a class="item-action-btn" href="/@downloadFilePath"> <img class="icon" src="~/svg/download.svg" /> </a>
                <a class="item-action-btn" href="/@viewContentPath"> <img class="icon" src="~/svg/view.svg" /> </a>
                <a href="javascript:void(0);" onclick="copy('@encodedReqDirPath@fileEntries[i]');" class="item-action-btn"> <img class="icon" src="~/svg/copy.svg" /></a>
                <a href="javascript:void(0);" onclick="javascript:handleSelect('@encodedReqDirPath@fileEntries[i]', 'item-@i')" class="item-action-btn"><img style="border-radius: 0.3em;" class="icon" src="~/svg/select.svg"/></a>
                @{
                    if (previousFileVersionExists)
                    {
                        <a href="javascript:void(0);" onclick="revert('@encodedReqDirPath@fileEntries[i]', '/.fluffyjohn/vc/@encodedReqDirPath@fileEntries[i]')" class="item-action-btn"><img class="icon" src="~/svg/revert.svg" /></a>
                    }
                }
                
                <br />
            </div>
        }
    }

    <br />
    if (dirEntryCount > 0)
    {
        <h1>Folders (@dirEntryCount)</h1>

        for (int i = 0; i < dirEntryCount; i++)
        {
            string targetHref = $"/viewfiles/{reqDirPath}/{dirEntries[i]}/";
            string configuredHref = Utility.ConfigureDirHref(targetHref);
            int id = fileEntryCount + i;

            string encodedDirectoryEntry = WebUtility.UrlEncode(dirEntries[i]);

            <div>
                <div id="item-@id" class="item-entry-wrapper itype-dir" onclick="javascript:document.getElementById('link-@id').click()" >
                    <!-- john you literal monkey. wanna know why dirs with spaces weren't working before?
                    you forgot the DAMN QUOTATION MARKS in the href attribute. -->
                    <a id="link-@id" href='@configuredHref'>@dirEntries[i]/</a>
                </div>

                <a href="javascript:void(0);" onclick="renameItem('@WebUtility.UrlEncode(reqDirPath+@dirEntries[i])', false)" class="item-action-btn"> <img class="icon" src="~/svg/edit.svg" /> </a>
                <a onclick="confirmDelete('@WebUtility.UrlEncode(dirEntries[i])', '@WebUtility.UrlEncode(reqDirPath)@WebUtility.UrlEncode(dirEntries[i])', false)" href="javascript:void(0)" class="item-action-btn"> <img class="icon del-icon" src="~/svg/delete.svg" /> </a>
                <a href="javascript:void(0);" onclick="copy('@WebUtility.UrlEncode(reqDirPath+'/'+dirEntries[i])', false);" class="item-action-btn"> <img class="icon" src="~/svg/copy.svg" /></a>

                <a onclick="javascript:handleSelect('@WebUtility.UrlEncode(reqDirPath+dirEntries[i])/', 'item-@id')" class="item-action-btn">S</a>

            </div>
        }
    }
}

<br /> <br />

<!--Make space for footer-->
<br />
<br />
<br />
<br />


<script src="~/js/toast.js"></script>
<script src="~/js/dirselect.js"></script>
<script src="~/js/storage.js"></script>
<script src="~/js/delete.js"></script>
<script src="~/js/rename.js"></script>
<script src="~/js/copy.js"></script>
<script src="~/js/paste.js"></script>
<script src="~/js/select.js"></script>
<script src="~/js/revert.js"></script>
<script src="~/js/uploaddropdown.js"></script>